.formResultContainer {
  //   background-color: #ffffff;
  min-height: 300px;
  border-radius: 8px;
  h2 {
    margin: 10px;
  }
}

.formResultContent {
  padding: 8px;
  margin: 8px;
  font-size: 14px;
  font-weight: 400;
}
